<h1>Recipes</h1>

<hr/>

<input type="text" style="margin-bottom:20px;" class="form-control" placeholder="Recipe" (input)="onChange($event)">

<h6 class="border-bottom border-gray pb-2 mb-0">List</h6>

<div class="media text-muted pt-3" *ngIf="recipes.length === 0">
  <h2>No recipes available, yet.</h2>
</div>

<div class="media text-muted pt-3" *ngFor="let r of recipes | filter:term">
  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <div class="d-flex justify-content-between align-items-center w-100">
      <strong class="text-gray-dark">{{ r.title }}</strong>
      <span>{{ r.calories }} calories</span>
      <span>Type: {{ r.type }}</span>

      <a href="#">Details</a>
    </div>
    <span class="d-block">Rating: {{ r.rating }}</span>
  </div>
</div>

<small class="d-block text-right mt-3">
  <a href="#">All recipes</a>
</small>
