<h1>Profile</h1>

<hr/>

<form>
  <div class="form-group">
    <label for="name">Full name</label>
    <input type="text" class="form-control" id="name" name="fullName" [(ngModel)]="data.fullName">
  </div>
  <div class="form-group">
    <label for="description">About me</label>
    <textarea class="form-control" id="description" rows="3" name="description" [(ngModel)]="data.description"></textarea>
  </div>
  <div class="form-group">
    <label for="calories">Calories desired per day</label>
    <input type="number" class="form-control" id="calories" name="calories" [(ngModel)]="data.calories">
  </div>

  <h2>Symptoms</h2>
  <div class="btn-group-toggle" data-toggle="buttons">
    <button class="btn btn-primary" (click)="pushPop('headache')">Head ache</button>

    <button class="btn btn-primary" (click)="pushPop('diabetes')">Diabetes</button>
  </div>

  <hr/>

  <button type="button" class="btn btn-success" (click)="saveProfile()">Save</button>
</form>
