<h1>Profile</h1>

<hr/>

<form>
  <div class="form-group">
    <label for="name">Full name</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="description">About me</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="calories">Calories desired per day</label>
    <input type="number" class="form-control" id="calories">
  </div>

  <h2>Symptoms</h2>

  <div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off"> Head ache
    </label>

    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off"> Diabetes
    </label>
  </div>

  <hr/>

  <button type="button" class="btn btn-success" (click)="saveProfile()">Save</button>
</form>
